

/* NAVBAR */

.Navbar{
  height: 50px;
  background-color: #333533;
  justify-content: center;
  display: flex;
  color: #333533;
}

.NavbarContainer{
  background-color: #CFDBD5;
  width: 100%;
  max-width: 1000px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.NavButton{
  margin: 10px;
  background-color: #242423;
  border: none;
  border-radius: 5px;
  font-size: 15px;
  padding: 5px 10px;
  color: #CFDBD5;
}

/* HEADER */

.header{
  background-color: #333533;
  color: #CFDBD5;
  display: flex;
  justify-content: center;
}

.HeaderContainer{
  width: 100%;
  max-width: 1000px;
  margin: 20px 0px 100px 0px;
  justify-content:  center;
}

.HeaderBox{
  display: flex;
  gap: 40px;
}
/* HOME */



/* HOTELS */



/* HOTEL DETAILS */
