.App {
  text-align: center;
}


/* NAVBAR */

.Navbar{
  height: 50px;
  background-color: #333533;
  justify-content: center;
  display: flex;
  color: #E8EDDF;
}

.NavbarContainer{
  background-color: #CFDBD5;
  width: 100%;
  max-width: 1000px;
}

/* HOME */



/* HOTELS */



/* HOTEL DETAILS */
